<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>FIS - Fight Information System</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/agency.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">FIS</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#products">Products</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">For</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">How?</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team">Team</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">Fight Information System</div>
                <div class="intro-heading">FIS</div>
                <div class="intro-lead-in">Adding to the Experience</div>
            </div>
        </div>
    </header>

    <!-- Products Section -->
    <section id="products">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Products</h2>
                    <h3 class="section-subheading text-muted">What is FIS?</h3>
                    <p>
                        FIS is a web application that analyzes the log files from TK Strike, a Taekwondo scoring system, made by <a href="http://www.daedopss.com/">Daedo</a>. FIS reads the logs as they are generated during the fight and creates statistics from that data. Competitors can access their profile in our database and get important statistics about their performance, as well as suggestions on what they need to improve.
                    </p>
                    <p>
                        Our web service streams the data LIVE so the audience can view the important details from the fights, while they are happening. The audience that didn´t make it to tournament, well, they can watch it as news feed on their mobile phone.
                    </p>
                    <p>
                        We´ve also designed a new gamestyle that we call Survival. Remember Tekken or Mortal Combat? Yes, we also have a lifebar. The competitor gets a total life in the beginning. Let´s say 250 kN. Daedo PSS measures the impact made to the chest guards and we deduct that impact from the opponent. The deduction for punches and headkicks is configured by the tournament manager.

                        Go take a look at our <a href="http://176.58.105.227:8002/app/#/">demo page</a>.
                    </p>

                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <a href="#productModal1" class="product-link" data-toggle="modal">
                        <div class="product-hover">
                            <div class="product-hover-content">
                            </div>
                        </div>                                                         
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-bar-chart-o fa-stack-1x fa-inverse"></i>
                    </span>
                    </a>   
                    <h4 class="product-heading">FIS-Score</h4>
                    <p class="text-muted">You can watch live updates from Taekwondo fights, get statistics on fights as well as additional information.</p>
                </div>
                <div class="col-md-4">
                    <a href="#productModal2" class="product-link" data-toggle="modal">
                        <div class="product-hover">
                            <div class="product-hover-content">
                            </div>
                        </div>                                                    
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-database fa-stack-1x fa-inverse"></i>
                    </a>
                    </span>
                    <h4 class="product-heading">FIS-Members</h4>
                    <p class="text-muted">A complete user profile and informational database for Taekwondo practitioners.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                    <a href="#productModal3" class="product-link" data-toggle="modal">
                        <div class="product-hover">
                            <div class="product-hover-content">
                            </div>
                        </div>                                                    
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-tasks fa-stack-1x fa-inverse"></i>
                    </a>
                    </span>
                    <h4 class="product-heading">FIS-Survival</h4>
                    <p class="text-muted">A new game within the game!</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">FIS is for</h2>
                    <h3 class="section-subheading text-muted">Improving Taekwondo</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/coaches-contest.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Coaches</h4>
                        <p class="text-muted">Increase the results</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/contestants.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Contestants</h4>
                        <p class="text-muted">Analyze your performance</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/clubs.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Clubs and Federations</h4>
                        <p class="text-muted">Manage practitioners</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/audience.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Audience</h4>
                        <p class="text-muted">Get live updates</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/practitioners.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Practitioners</h4>
                        <p class="text-muted">Access your profile</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/federations.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Tournaments</h4>
                        <p class="text-muted">Add to the information</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">How does it work?</h2>
                    <h3 class="section-subheading text-muted">From kick to greater results</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1.</h4>
                                    <h4 class="subheading">A kick is made</h4>
                                </div>
                                <div class="timeline-body">Every time the contestant scores by kicking in the opponents’ PSS, the score is written in a log file, among with information on it; how heavy it was, at what time it was made and more. FIS-Score instantly reads the log file and publishes it live on the website.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2.</h4>
                                    <h4 class="subheading">Statistics are created...</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">FIS-Score then uses the logs to create timeline of the fight, as well as show the results and the statistics from the fight, which can be used to further analyze the fight.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>3.</h4>
                                    <h4 class="subheading">...and added to the user profile</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">FIS-Score and FIS-members are then linked together, automatically adding the score from the fight to the contestant’s user profile in FIS-Members.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>4.</h4>
                                    <h4 class="subheading">Used in the next contest</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The contestants and her coach can then use that information to focus on skills that need improvement.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/5.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>5.</h4>
                                    <h4 class="subheading">Leading to better results</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Precise calculations and information on the fight, used to improve coaching, will in the end lead to improved result for the contestant.
                                    </p>
                                </div>
                            </div>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Team</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/addi.jpg" class="img-responsive img-circle" alt="">
                        <h4>Addi</h4>
                        <p class="text-muted">Frontend developer</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/levy.jpg" class="img-responsive img-circle" alt="">
                        <h4>Nonni</h4>
                        <p class="text-muted">Backend developer</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/helga.jpg" class="img-responsive img-circle" alt="">
                        <h4>Helga</h4>
                        <p class="text-muted">Takes care of the rest</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">The project is designed by Nonni - Jón Levy Guðmundsson - a Taekwondo coach/contestant and programmer, in close collaboration with Addi - Arnþór Snær Sævarsson - an experienced computer scientist at TM-Software. Helga Tryggvadóttir is the project manager and database nerd.</p>
                </div>
            </div>
        </div>
    </section>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contact Us</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form name="sentMessage" id="contactForm" novalidate>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Your Name *" id="name" required data-validation-required-message="Please enter your name.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Your Email *" id="email" required data-validation-required-message="Please enter your email address.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="tel" class="form-control" placeholder="Your Phone *" id="phone" required data-validation-required-message="Please enter your phone number.">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="Your Message *" id="message" required data-validation-required-message="Please enter a message."></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <button type="submit" class="btn btn-xl">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; FIS 2014</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="#">Privacy Policy</a>
                        </li>
                        <li><a href="#">Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- Product Modals -->
    <!-- Use the modals below to showcase details about your products -->

    <!-- Product Modal 1 -->

 <div class="portfolio-modal modal fade" id="productModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>FIS-Score</h2>
                            <p class="item-intro text-muted">Live updates in your phone!</p>
                            <p>
                                Score is an informational app and a website that analyses the Daedo PSS logs and publishes them in a comprehensible manner for the general viewer.</p> 
                          	<p>
                          		While the fight is still going on, FIS-Score publishes when a touch was made and how heavy it was, as a news feed. Between rounds and after the match it publishes further information, such as how many kicks were made and how many actually counted as scores, number of head kicks and referee points.</p> 
                          	<p>
                                FIS-Score is a tool that makes Taekwondo competitions more comprehensible for the general viewer. In addition to that, it can be used by federations and tournament organizers in order to make Taekwondo competitions more transparant. For coaches, it is useful to analyze their trainees' fights and use the statistics to improve their results. In general, it adds statistical information to the sport, adding to its development and increasing results!
                            </p> 
                            <section id="portfolio">
                                
                                    <div class="row">
                                        <div class="col-md-12 col-sm-6 portfolio-item">
                                            <a href="http://176.58.105.227:8002/app/#/" class="portfolio-link" data-toggle="modal">
                                                <div class="portfolio-hover">
                                                    <div class="portfolio-hover-content">
                                                        <i class="fa fa-plus fa-3x"></i>
                                                    </div>
                                                </div>
                                                <img src="img/products/score.png" class="img-responsive" alt="">
                                            </a>
                                            <div class="portfolio-caption">
                                                <h4>Have a peak</h4>
                                                <p class="text-muted">We´re still in beta though :-)</p>
                                            </div>
                                        </div>
                                    </div>
                                
                            </section>                             <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Back</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Product Modal 2 -->

 <div class="portfolio-modal modal fade" id="productModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>FIS-Members</h2>
                            <p class="item-intro text-muted">Complete user profile!</p>
                            <p>
                            <strong>You can use FIS-Members</strong>
                            </p>
                            <p>
                                To analyse your trainees' fights and use the statistics to improve their results. Analyse your trainees' strength and weaknesses. For example, does the opponent usually score a second after your trainee scores? Then you know you have to work on his/her defenses. You can also use it to create statistics for your training.
                            </p>
                            <p>To keep track of your trainees' results. Post assignments, drills and "before and after" videos. Create statistics to use in your training. Stay in touch with your trainees. And more.
                            </p>
                            <section id="portfolio">
                                
                                    <div class="row">
                                        <div class="col-md-12 col-sm-6 portfolio-item">
                                            <a href="http://members.fisapp.com/felog/" class="portfolio-link" data-toggle="modal">
                                                <div class="portfolio-hover">
                                                    <div class="portfolio-hover-content">
                                                        <i class="fa fa-plus fa-3x"></i>
                                                    </div>
                                                </div>
                                                <img src="img/products/members.png" class="img-responsive" alt="">
                                            </a>
                                            <div class="portfolio-caption">
                                                <h4>Have a peak</h4>
                                                <p class="text-muted">We´re still in beta though :-)</p>
                                            </div>
                                        </div>
                                    </div>
                                
                            </section>                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- Product Modal 3 -->

 <div class="portfolio-modal modal fade" id="productModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>FIS-Survival</h2>
                            <p class="item-intro text-muted">A whole new game!</p>
                            <p>
                            <strong>FIS-Survival</strong>
                            </p>
                            <p>
                               The gamestyle everyone has been waiting for. Competitors get equal amount of "life" in kN and for each kick or punch, their total life get´s deducted. For each kick to the hogu, the competitor looses that same amount of life.
                            </p>
                            <p>
                                Users can set the total life in kN for competitors and how much life get´s deducted for punches and headkicks. Are you tired of playing Tekken or Mortal Combat? Find a club and start training. FIS is right around the corner.
                            </p>    
                            <section id="portfolio">
                                
                                    <div class="row">
                                        <div class="col-md-12 col-sm-6 portfolio-item">
                                            <a href="http://176.58.105.227/app/#/" class="portfolio-link" data-toggle="modal">
                                                <div class="portfolio-hover">
                                                    <div class="portfolio-hover-content">
                                                        <i class="fa fa-plus fa-3x"></i>
                                                    </div>
                                                </div>
                                                <img src="img/products/score.png" class="img-responsive" alt="">
                                            </a>
                                            <div class="portfolio-caption">
                                                <h4>Have a peak</h4>
                                                <p class="text-muted">We´re still in beta though :-)</p>
                                            </div>
                                        </div>
                                    </div>
                                
                            </section> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modals -->
    <!-- Use the modals below to showcase details about your portfolio projects! -->

    <!-- Portfolio Modal 1 -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Are you a coach?</h2>
                            <p class="item-intro text-muted">FIS is a useful tool for coaches</p>
                            <img class="img-responsive img-centered" src="img/portfolio/coaches-contest.jpg" alt="">
                            <p>
                            <strong>You can use FIS-Score</strong>
                            </p>
                            <p>
                                To analyse your trainees' fights and use the statistics to improve their results. Analyse your trainees' strength and weaknesses. For example, does the opponent usually score a second after your trainee scores? Then you know you have to work on his/her defenses. You can also use it to create statistics for your training.
                            </p>
                            <p>
                                <strong>You can use FIS-Members</strong>
                            </p> 
                            <p>To keep track of your trainees' results. Post assignments, drills and "before and after" videos. Create statistics to use in your training. Stay in touch with your trainees. And more.
                            </p>                            
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Back</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 2 -->
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Contestants</h2>
                            <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                            <img class="img-responsive img-centered" src="img/portfolio/contestants.jpg" alt="">
                            <p>Use FIS-Score to analyse your strength and weaknesses and access additional information about your fight, which will improve your performance. </p>
                            <p>In FIS-Members you will have your personal profile that keeps track of your contests and resaults. You can add pictures and videos to your profile. You can also use FIS-Members to access drills and exercises.</p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 3 -->
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Clubs and Federations</h2>
                            <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                            <img class="img-responsive img-centered" src="img/portfolio/clubs.jpg" alt="">
                            <p>FIS-Members is designed for use by clubs and federations to keep track of members. FIS-Members can both be used as a registration tool and for accessing results for individual members.</p>
                              <p>Ranking lists.</p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 4 -->
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Audience</h2>
                            <p class="item-intro text-muted">For better understanding</p>
                            <img class="img-responsive img-centered" src="img/portfolio/audience.jpg" alt="">
                            <p>Live updates with FIS-Score are specially designed for the audience on Taekwondo tournaments. With information screens or with the app and website on your phone or tablet you can get visual information on the fight, while it is happening. For example, how heavy a kick was, at what time it was made, whether there were pension points and more. The audience will also be able to use FIS-Members to access information on contestants.</p>
                            <p>FIS-Survival
                            </p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 5 -->
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Practitioners</h2>
                            <p class="item-intro text-muted">For everyone who trains Taekwondo</p>
                            <img class="img-responsive img-centered" src="img/portfolio/practitioners.jpg" alt="">
                            <p>FIS-Members and FIS-Score are not exclusively for contestants on big tournaments. It is also a useful tool for the gneral Taekwondo Practicioner. In clubs which decide to use FIS to keep track of their members, each practicioner will get a unique user profile. They can use the system to access drills and exercises from their coach.</p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 6 -->
    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Tournaments</h2>
                            <p class="item-intro text-muted">Convenient solution</p>
                            <img class="img-responsive img-centered" src="img/portfolio/federations.jpg" alt="">
                            <p>Set up a simple program on the score computers, plug in the already set-up server and you are good to go. The information from the scoring system will be published on a special website, making the audience able to access it on their phone, tablets or computers. It is also possible to publish the information on an info screen at the tournament.</p>
                            <p>You can use FIS-Members to register contestants on the tournament, making it possible for the result to be automatically added to their user profile.</p>
                            <p>Add flavour to the contest with FIS-Survival</p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery Version 1.11.0 -->
    <script src="js/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="js/classie.js"></script>
    <script src="js/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/agency.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-57295641-2', 'auto');
      ga('send', 'pageview');

    </script>    

</body>

</html>
